---
// SSR imports
import * as ErrorBoundary from "../dynamic/ErrorBoundary";
import "../stylesheets/common.css";
import "../stylesheets/markdown.css";
---

<script>
    // CSR imports
    import * as ErrorBoundary from "../dynamic/ErrorBoundary";
    import * as PlayerRoute from "../dynamic/PlayerRoute";
    import * as RankingsRoute from "../dynamic/RankingsRoute";

    const currentPathname = window.location.pathname;

    const playerMatch = currentPathname.match(/\/players\/([^\/]{1,64})\/?$/);
    const rankingMatch = currentPathname.match(/\/players\/?$/);

    const proxy = location.host.match(/localhost(:|$)/) ? "http://localhost:3030" : "http://pulse.boraini.com:3030";
    const proxied = (href) =>
        proxy ? proxy + "/?href=" + encodeURIComponent(href) : href;
    const playerApi = "http://v2202410239072292297.goodsrv.de:5001";

    type PlayerRoute = { id: "/players/$username"; username: string };
    type RankingsRoute = { id: "/players" };
    type ErrorRoute = { id: "error"; message: string; stackTrace: string };
    type RouteType = PlayerRoute | RankingsRoute | ErrorRoute;

    if (playerMatch) {
        const [_, username] = playerMatch;
        onRouteChange({ id: "/players/$username", username: username });
    } else if (rankingMatch) {
        onRouteChange({ id: "/players" });
    }
    
    function setHeader(config?: { title: string, backlink?: string }) {
        if (config) {
            document.getElementsByTagName("header")[0].classList.remove("hidden")
            document.getElementById("title").innerHTML = config.title
            const backlink = document.getElementById("backlink")
            backlink.setAttribute("href", config.backlink ?? "#")
            if (config.backlink) {
                backlink.classList.remove("hidden")
            } else {
                backlink.classList.add("hidden")
            }
        } else {
            document.getElementsByTagName("header")[0].classList.add("hidden")
        }
    }

    function onRouteChange(route: RouteType) {
        if (route.id == "error") {
            render(
                ErrorBoundary.Scaffolding(
                    route.message,
                    null,
                    route.stackTrace,
                ),
            );
            setHeader(null);
        }

        return (async() => {
        switch (route.id) {
            case "/players/$username":
                render(PlayerRoute.Pending());
                setHeader({ title: route.username, backlink: "../players" })
                await fetch(proxied(`${playerApi}/players/${route.username}`)).then(
                    async (r) => {
                        if (r.ok) {
                            const data = await r.json();
                            render(PlayerRoute.Scaffolding());
                            populate(PlayerRoute.Data(data));
                            document.title = `${route.username} - Deepworld 2025 MMO`;
                        } else {
                            onRouteChange({
                                id: "error",
                                message: "Error occurred while fetching data.",
                                stackTrace: await r.text(),
                            });
                        }
                    }
                );
                break;
            case "/players":
                render(RankingsRoute.Pending())
                setHeader({ title: "Players" })
                const stats = ["items_mined", "items_placed", "items_crafted"];
                const responses = await Promise.all(stats.map(s => fetch(proxied(`${playerApi}/players?sort=${s}`))))
                const failed = responses.find(r => !r.ok);
                if (failed) {
                    onRouteChange({
                        id: "error",
                        message: "Error occurred while fetching data.",
                        stackTrace: await failed.text(),
                    })
                    return
                }
                const result = {}
                for (let i = 0; i < stats.length; i++) {
                    const stat = stats[i];
                    const data = (await responses[i].json()).map(p => [p.name, p[stat]])
                    result[stat] = data
                }
                render(RankingsRoute.Scaffolding())
                populate(RankingsRoute.Data(result))
                break;
        }
        })()
            .catch(e => onRouteChange({
                id: "error",
                message: "Error occurred while fetching data.",
                stackTrace: e,
            }))
    }

    function render(component: string) {
        document.getElementById("app").innerHTML = component;
    }

    function populate(components: Record<string, string>) {
        for (const [id, component] of Object.entries(components)) {
            document.getElementById(id).innerHTML = component;
        }
    }
</script>

<html lang="en" class="m-0 p-0 w-full min-h-full bg-gray-950">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Not Found</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="m-0 p-0 w-full min-h-full">
        <header class="hidden mb-12 headerimg">
            <div class="relative mx-auto max-w-5xl h-32">
                <h1 id="title" class="absolute left-4 top-full px-2 -translate-y-1/2 bg-etched-brass border-4 border-brass text-4xl text-white" class="title">Not Found</h1>
                <a id="backlink" class="hidden absolute top-full right-4 text-white" href="#">Go Back</a>
            </div>
        </header>
        <div
            id="app"
            set:html={ErrorBoundary.Scaffolding(
                "Page not found!",
                "Please try refreshing the page and make sure to enable Javascript, or contact the developers on Discord.",
            )}
        />
    </body>
</html>

<style>
    .headerimg {
        background-image: url(/public/decorations/stats-header.png);
        background-size: cover;
    }
</style>
